body {
    margin: 0;
    overflow: hidden;
    cursor: none; 
}

#loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    z-index: 1000; 
}

#loading-text {
    animation: blink 1s infinite;
}
#FPSCanvas {
    width: 100vw; /* ビューポートの幅の100% */
    height: 100vh; /* ビューポートの高さの100% */
    display: block; /* ブラウザの標準スタイルリセット */
    margin: 0; /* デフォルトのマージンをリセット */
    padding: 0; /* デフォルトのパディングをリセット */
}


@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}
